// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'login';


.container_header{
    margin: auto;
    width: 75%;
    height: 80px;
    .logo{
        height:65%;
        width: 16%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}

main{
    background-color: rgb(235, 233, 233);
    margin-top: -24px;
    padding-top: 44px;
}


.container_content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    a{
        text-decoration: none;
    }
    img {
        width: 100%;
        &.h-60 {
            height: 60%;
        }
    }
    .jumbo {
        grid-area: 1 / 1 / span 2 / span 2;
        img{
            margin-top: 20px;
        }
        p{
            font-size: 18px!important;
        }
        h3{
            margin-top: 15px;
        }
    }
    div:not(.jumbo){
        h3{
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
       
    }
}

.category_menu{
    top: 200px;
    left: 30px;
    div{
        p{
            margin: 0px!important;
        }
    }
}




//category


.container_category_post{
    img{
        height: 60%;

    }
}



